* {
  margin: 0;
  padding: 0
}
a, a:link {
  text-decoration: none
}
a:hover {
  color: #000
}
a img {
  border: none
}
.clear {
  clear: both
}
.clearfix::after, .clearfix::before {
  content: "";
  display: table
}
.clearfix::after {
  clear: both
}
body {
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #3f3f3f
}
.container {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto
}
.wrapper {
  width: 100%;
  overflow: hidden
}

header {width: 100%;background: #fff;padding: 17px 0;}
header .logo {float: left;}
header .right-btn{ float: right;margin-top: 7px;}
.btn{background: #fff;font-size: 12px; color:#0a0b55;font-weight: 700;}
.down-btn{text-transform: uppercase;letter-spacing: 1px;}
.responsive-bar { display: none;}
.top-banner{ background: url("../images/banner.jpg")no-repeat top center / cover; padding:39px 0 92px; }
.top-banner .top-text{text-align: center;width: 100%;}
.top-banner .top-text img{ margin-bottom: 5px;}
.top-banner .top-text h1{font-size: 24px; color: #fff;font-weight: 700;text-transform: uppercase;margin: 0 0 6px;}
.top-banner .top-text p{ font-size: 14px;color:#fff;font-weight: 300;margin: 0;}

.ware-sect .ware-row{ padding: 28px 23px 28px 60px; background: #f2f3f7; border-radius: 20px; margin-top: -30px;}
.ware-sect .flex-sect{display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: flex-start;justify-items: flex-start;}
.ware-sect .lt-sect{width:547px;margin-top: 38px;}
.ware-sect .lt-sect h2{font-size: 24px;color:#0a0b55;font-weight: 700;line-height: 32px;margin: 0 0 15px;}

.ware-sect .lt-sect .detail-list li {
  display: block;
  text-align: left;
  font-size: 16px;
  margin-bottom: 12px;
  position: relative;
  padding-left: 30px;
  color: #000;
  font-family: inherit;
  font-weight: 400;
  font-style: normal
}
.ware-sect .lt-sect .detail-list li:last-child {
  margin-bottom: 0
}
.ware-sect .lt-sect .detail-list li:before {
  content: "";
  width: 16px;
  height: 13px;
  background: url("../images/green-check-img.png")no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px
}
.benefit .detail-list li a {
  color: #f06321;
  cursor: pointer
}

.wrapper nav.scroll {
  background-color: #fff;
  font-size: 14px;
  height: 80px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, .2)
}